//
// App Pjax Core
// --------------------------------------------------


.preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    text-align: center;
    z-index: @zindex-navbar - 1;

    &.preloader-container-open {
        display: block;
    }

    .container,
    .container-fluid {
        height: 100%;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
}

.spinner-wrapper {
    display: block;
    position: relative;
    top: 50%;
    .transform(translate(0, -50%));

}

.container-main {
    .transition(opacity .25s ease);
}

.content-before-show {
    opacity: 0;
}
